#About{
    color: rgb(36,198,224);
    text-shadow: 0 0 5px rgba(36,198,224,1.0);
    text-align: center;
    border-radius: 2em;
    border:2px solid  rgb(36,198,224);
    font-family: 'Orbitron', sans-serif;
    margin:.2%;
}