
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow:auto; 
}
.jumbotron{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(25,25,25); 
}
.line-1{
    position: relative;
    top: 50%;  
    width: 8em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size:300%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
    animation: typewriter 6s steps(44) .4s .35 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Global */
  .titleTwo{
    height: calc(100vh - 8em);
    padding: 8em;
    color: rgba(255,255,255,.75);
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(25,25,25); 
    overflow:auto; 
  }
  #titleTwo{
      position: relative;
      top: 50%;  
      width: 5em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size:150%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter2{
      animation: typewriter 5s steps(44) 2.4s .4 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
      from{width: 0;}
      to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
  body{
      background-color: black;
  }