.jumbotron{

    background-color:black;
    padding: 8em;
    background-position:130% 50%;
    margin-bottom: 7em;
    color: rgb(36,198,224);
  text-shadow:0 0 5px rgba(36,198,224,1.0);
    text-align:center;
}
