:root {
    --gray: #828282;
    color: #DFDEDE;
    --lightgray: #aeaeae;
    --darkgray: #515151;
    color: #0E0E0E;
    --blue: rgb(36,198,224);
    text-shadow: 0 0 5px rgba(36,198,224,1.0);

    font-family: 'Orbitron', sans-serif;
}